@media(max-width:992px){
    .carousel-inner {
        width: auto;
        height: auto;
    }
}
@media(max-width:992px){
    .header-top .container .row div{
      text-align: center;
    }
    .hi{
      text-align: center;
    }
  }
  @media(max-width:992px){
    .groupss{
      margin-top: 203px;
    }
  }


