@media(max-width:992px){
    .carousel-inner {
        width: auto;
        height: auto;
    }
    .main_content .container .row img {
        display: flex;
        justify-content:center ;
        padding-right: 190px;
       
    }   

}
@media(max-width:992px){
    .header-top .container .row div{
      text-align: center;
    }
    .hi{
      text-align: center;
    }
  }