@media(max-width:992px){
    .carousel-inner {
        width: auto;
        height: auto;
    }
    .main_content .container .row img {
      
    }   

}
@media(max-width:992px){
    .header-top .container .row div{
      text-align: center;
    }
    .hi{
      text-align: center;
    }
  }